@media (min-width: 100px) and (max-width: 980px) {
  .header-menu {
    padding: 20px 15px;
  }

  .section_image img {
    width: 60%;
  }

  .aside-container {
    margin: 0px 30px;
  }

  .section_image {
    margin: 40px 0px 25px;
  }

  .section,
  title {
    margin-bottom: 20px;
  }

  .section_who::after {
    left: -10%;
    width: 120%;
  }

  .main {
    margin-left: 30px;
  }

  .footer {
    padding: 20px;
  }

  .footer-items div {
    margin-right: 230px;
  }

  .footer-link img {
    width: 2.5rem;
  }

  .footer-school img {
    width: 6rem;
  }

  .footer-youtube img {
    width: 2.5rem;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .menu-list {
    justify-content: space-around;
  }

  .section {
    margin-bottom: 15px;
  }

  .section-avatar {
    min-height: 150px;
  }

  .section_image {
    margin: 30px 0px;
  }

  .section_image img {
    border: 12px solid rgb(240, 174, 18);
  }

  .section_items {
    margin: 0px auto 20px;
  }

  .section_name {
    font-size: 2.2rem;
  }

  .section_who {
    font-size: 1.6rem;
  }

  .section_who::after {
    left: -10%;
    width: 120%;
  }

  .title {
    font-size: 1.7rem;
    margin-bottom: 5px;
  }

  .code_text {
    font-size: 1rem;
  }

  .footer {
    padding: 10px;
  }

  .footer-items div {
    margin-right: 170px;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .wraper {
    flex-direction: column;
    width: 100%;
    background-color: rgb(243, 244, 245);
  }

  .header-section {
    flex-direction: column;
    width: 100%;
    background-color: rgb(243, 244, 245);
  }

  .section_items {
    order: -1;
    line-height: 40px;
    margin: 15px auto 0px;
  }

  .section-avatar {
    min-height: 0px;
    margin: 0 auto;
  }

  .section_image img {
    width: 100%;
    border: 0.6rem solid rgb(240, 174, 18);
  }

  .section_who::after {
    left: 0;
    width: 99%;
  }

  .aside,
  .main {
    width: 100%;
  }

  .aside-container,
  .main {
    margin: 0px 20px 0px 10px;
  }

  .education_list li:nth-child(2n) {
    margin-bottom: 10px;
  }

  .code_text {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .footer {
    padding: 10px;
  }

  .footer-items div {
    margin-right: 30px;
  }

  .footer-link img {
    width: 2rem;
  }

  .footer-school img {
    width: 5rem;
  }

  .footer-youtube img {
    width: 2rem;
  }
}
